{% extends 'base.html' %}
{% block page_title %}Cart{% endblock %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
    <div class="container cart-container">
        <h3 class="cart-title text-center">Your Order</h3>
        {% for item in cart_items %}
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4 cart">
                        <img src="{{ MEDIA_URL }}{{ item.sticker.image }}" class="card-img img-fluid" alt="sticker image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.sticker.name }}</h5>
                            <p class="card-text">{{ item.sticker.description }}. ${{ item.sticker.price }}</p>
                            <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputAmount" class="sr-only">New Qty</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">Qty
                                            <input name="quantity" type="number" min="0" max="999"
                                                   class="form-control" placeholder="{{ item.quantity }}">
                                        </div>
                                        <button type="submit" class="btn btn-primary">
                                            <span class="fa fa-pencil-square-o" aria-hidden="true"></span>Amend</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="container total">
            <div class="row justify-content-end">
                <p>Total </p>
                <p><span class="fa fa-euro" aria-hidden="true"></span>{{ total }}</p>
                <a href="{% url 'checkout' %}" class="btn btn-success checkout-button" role="button"><span
                        class="fa fa-check" aria-hidden="true"></span>Checkout</a>
            </div>
        </div>
    </div>
{% endblock %}