{% extends 'base.html' %}
{% block page_title %}Shop {% endblock %}
{% block content %}
    <div class="container sticker-container col-sm-12">
        <h1 class="display-1 text-center sticker-title"><em>Sticker Shop</em></h1>
        <div class="row">
            {% for sticker in stickers %}
                <div class="col-md-3 card">
                    <img src="{{ MEDIA_URL }}{{ sticker.image }}" class="card-img-top" alt="sticker image">
                    <div class="card-body">
                        <h5 class="card-title">{{ sticker.name }}</h5>
                        <p class="card-text">{{ sticker.description }}.</p>
                        <p>{{ sticker.price }}</p>

                        <form method="post" action="{% url 'add_to_cart' sticker.id %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="number" name="quantity" min="1" max="999" class="form-control" placeholder="Quantity">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">Add</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}